{% comment %}sec_title, sec_handle, tag{% endcomment %}
<div class="page-sidebar__section {% if this_page == '' or this_page == sec_handle %}active{% endif %}">
  <h3 Aria-label="{{ sec_title | escape }}" >{{ sec_title | escape }}  <span class="toggle">{% if this_page == '' or this_page == sec_handle %}-{% else %}+{% endif %}</span></h3>
  <ul class="page-sidebar__navigation">
    {% assign article_counter = 0 %}
    {% for article in blogs.help.articles %}
    {% if article.tags contains tag %}
    <li><a Aria-Label="{{ article.title }}" href="{{ article.url }}">{{ article.title }}</a></li>
    {% assign article_counter = article_counter | plus: 1 %}
    {% if article_counter >= 5 %}{% break %}{% endif %}
    {% endif %}
    {% endfor %}
    <li><a role="Button" Aria-Label="View All Articles" class="view-all" href="/blogs/help/tagged/{{ tag | handleize }}?view=all" >View All</a></li>
  </ul>
</div>