<nav id="mobile-navigation-wrapper" role="navigation" aria-label="Main Mobile Navigation">
  <ul id="mobile-navigation">
    <form id="mobile-navigation-search-form" action="/search" class="clearfix" method="get">
      <input role="searchbox" id="mobile-navigation-search-form-input" type="text" name="q" value="" aria-label="Searchbox" placeholder="Search GEARAID..." size="25"  autocomplete="off" autocorrect="off"/>
      <button role="button" id="mobile-navigation-search-form-button" type="submit" aria-label="Search"><i class="fa fa-search"></i></button>
    </form><!-- mobile-navigation-search-form -->
    {% assign children = false %}
    {% for link in linklists.main-menu.links %}
    {% if link.links.size > 0 %}
    {% assign children = true %}
    {% else %}
    {% assign children = false %}
    {% endif %}
    <li id="{{ link.title | handleize }}-link" class="mobile-link {% if link.active %}active{% endif %}{% if children %} clearfix children{% endif %}">
      <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }} 
        {% unless children %}
        <span class="fa fa-angle-right"></span>
        {% endunless %}
      </a>
      {% if children %}
      <span class="mobile-dropdown-toggle fa fa-plus"></span>
      <ul role="presentation" class="mobile-dropdown">
        {% for l in link.links %}
        {% if l.title == 'Images' %}
        <li id="mobile-images-list">
          <ul>
            {% for image in l.links %}
            <li class="image-link">
              <a href="{{ image.url }}">
                {% capture dd_img %}{{ image.title | split:'|' | last }}{% endcapture %}
                <img srcset="{{ dd_img | file_img_url:'240x' }} 2x, {{ dd_img | file_img_url:'120x' }} 1x" src="{{ dd_img | file_img_url:'120x' }}" alt=""/>
                <h3>{{ image.title | split:'|' | first }}</h3>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        {% if l.links.size > 0 %}
        {% assign children = true %}
        {% else %}
        {% assign children = false %}
        {% endif %}
        <li class="mobile-link {% if l.active %}active{% endif %}{% if children %} clearfix children{% endif %}">
          {% if children %}
          <h4>{{ l.title }}</h4>
          <span class="mobile-dropdown-toggle fa fa-plus"></span>
          <ul class="mobile-dropdown">
            {% for sl in l.links %}
            <li class="mobile-link {% if sl.active %}active{% endif %}">
              <a href="{{ sl.url }}">{{ sl.title }} <span class="fa fa-angle-right"></span></a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <a href="{{ l.url }}">{{ l.title }}
            {% unless children %}
            <span class="fa fa-angle-right"></span>
            {% endunless %}
          </a>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
        {% comment %} <li id="video-spotlight">
         <a href="https://www.gearaid.com/blogs/news/upcycled-bags-from-old-signage">
            <img src="{{ 'video-spotlight.jpg' | file_img_url:'300x' }}" alt="Repair. Renew. Reuse." />
            <h3>Repair. Renew. Reuse.</h3>
            <h4>Learn why we make bags from banners</h4>
          </a> {% endcomment %}
        </li>
      </ul><!-- dropdown -->
      {% endif %}
    </li>
    {% endfor %}
  </ul><!-- mobile-navigation -->
</nav><!-- mobile-navigation-wrapper -->