<div class="pagination">
  {% if paginate.previous %}
  <a class="pagination__part pagination__part--prev fa fa-angle-left" href="{{ paginate.previous.url }}"></a>
  {% endif %}
  {% for part in paginate.parts %}
  {% if part.is_link %}
  <span class="pagination__part pagination__part--link">{{ part.title | link_to: part.url }}</span>
  {% else %}
  {% if part.title == '&hellip;' %}
  <span class="pagination__part pagination__part--link">{{ part.title }}</span>
  {% else %}
  <span class="pagination__part pagination__part--current">{{ part.title }}</span>
  {% endif %}
  {% endif %}        
  {% endfor %}
  {% if paginate.next %}
  <a class="pagination__part pagination__part--next fa fa-angle-right" href="{{ paginate.next.url }}"></a>
  {% endif %}
</div><!-- pagination -->