<table id="product-ingredients-table">
	<thead>
		<tr>
			<th scope="col">Product</th>
			<th scope="col">SDS</th>
			<th scope="col">Ingredient</th>
			<th scope="col">Purpose</th>
			<th scope="col">Description</th>
			<th scope="col">CAS#</th>
		</tr>
	</thead>
	<tbody>
		<tr id="revivex-bcd-cleaner" class="row-header">
			<th scope="row" rowspan="7">Revivex B.C.D. Cleaner</th>
			<td rowspan="7"><a target="_blank" href="{{'Revivex_B.C.D_Cleaner_EN.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>Hydroxyethylcellulose</td>
			<td>Rheology Modifer</td>
			<td>Gelling and thickening agent</td>
			<td>9004-62-0</td>
		</tr>
		<tr>
			<td>C9-11 Alcohols Ethxoylated</td>
			<td>Surfactant-Nonionic</td>
			<td>Cleaning agent</td>
			<td>68439-46-3</td>
		</tr>
		<tr>
			<td>DMDM Hydantoin</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>6440-58-0</td>
		</tr>
		<tr>
			<td>Tetrasodium Iminodisuccinate</td>
			<td>Chelating Agent</td>
			<td>Water softener, naturally derived</td>
			<td>144538-83-0</td>
		</tr>
		<tr>
			<td>Formaldehyde (NFC Ingredient)</td>
			<td>Preservative</td>
			<td>Byproduct of preservative</td>
			<td>50-00-0</td>
		</tr>
		<tr>
			<td>Silicone Emulsion</td>
			<td>Antifoaming Agent</td>
			<td>Rubber conditioner</td>
			<td>NA</td>
		</tr>


		<tr class="sep">
			<td colspan="6">&nbsp;</td>
		</tr>


		<tr id="revivex-boot-cleaner" class="row-header">
			<th scope="row" rowspan="7">Revivex Boot Cleaner</th>
			<td rowspan="7"><a target="_blank" href="{{'Revivex_Boot_Shoe_Cleaner_EN.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>Hydroxyethylcellulose</td>
			<td>Rheology Modifier</td>
			<td>Gelling and thickening agent</td>
			<td>9004-62-0</td>
		</tr>
		<tr>
			<td>C9-11 Alcohols Ethoxylated</td>
			<td>Surfactant-Nonionic</td>
			<td>Cleaning agent</td>
			<td>68439-46-3</td>
		</tr>
		<tr>
			<td>Sodium Dodecylbenzene Sulfonate</td>
			<td>Surfactant-Anionic</td>
			<td>Cleaning agent</td>
			<td>25155-30-0</td>
		</tr>
		<tr>
			<td>DMDM Hydantoin</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>6440-58-0</td>
		</tr>
		<tr>
			<td>Sodium Xylene Sulfonate</td>
			<td>Coupling Agent</td>
			<td>Formula blending aid</td>
			<td>1300-72-7</td>
		</tr>
		<tr>
			<td>Formaldehyde (NFC Ingredient)</td>
			<td>Preservative</td>
			<td>Byproduct of preservative</td>
			<td>50-00-0</td>
		</tr>


		<tr class="sep">
			<td colspan="6">&nbsp;</td>
		</tr>


		<tr id="revivex-down-cleaner" class="row-header">
			<th scope="row" rowspan="3">Revivex Down Cleaner</th>
			<td rowspan="3"><a target="_blank" href="{{'Revivex_Down_Cleaner_EN.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>Laureth-9</td>
			<td>Surfactant</td>
			<td>Cleaning agent</td>
			<td>68439-50-9</td>
		</tr>
		<tr>
			<td>Methylisothiazolinone</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>2682-20-4</td>
		</tr>


		<tr class="sep">
			<td colspan="6">&nbsp;</td>
		</tr>


		<tr id="revivex-odor-eliminator" class="row-header">
			<th scope="row" rowspan="12">Revivex Odor Eliminator</th>
			<td rowspan="12"><a target="_blank" href="{{'Revivex_Odor_Eliminator.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>C9-11 Alcohols Ethoxylated</td>
			<td>Surfactant-Nonionic</td>
			<td>Cleaning agent</td>
			<td>68439-46-3</td>
		</tr>
		<tr>
			<td>Acrylate Thickener</td>
			<td>Thickener</td>
			<td>Gelling and thickening agent</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Dipropylene Glycol Methyl Ether</td>
			<td>Hydrotrope</td>
			<td>Formula blending aid</td>
			<td>34590-94-8</td>
		</tr>
		<tr>
			<td>Dodecylbenzene Sulfonic Acid</td>
			<td>Fluid Property Modulator</td>
			<td>Stabilizer</td>
			<td>27176-87-0</td>
		</tr>
		<tr>
			<td>Sodium Xylene Sulfonate</td>
			<td>Coupling Agent</td>
			<td>Formula blending aid</td>
			<td>1300-72-7</td>
		</tr>
		<tr>
			<td>2-undecoxyethanol</td>
			<td>Surfactant-Nonionic</td>
			<td>Cleaning agent</td>
			<td>34398-01-1</td>
		</tr>
		<tr>
			<td>Bacillus Blend</td>
			<td>Deodorizer</td>
			<td>Microbes who feed on bacteria</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Fragrance</td>
			<td>Fragancing Compound</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Sodium Bicarbonate</td>
			<td>pH Stabilizer</td>
			<td>Stabilizer</td>
			<td>144-55-8</td>
		</tr>
		<tr>
			<td>Lauryl Glucoside</td>
			<td>Surfactant-Nonionic</td>
			<td>Cleaning agent</td>
			<td>110615-47-9</td>
		</tr>
		<tr>
			<td>Triethanolamine</td>
			<td>pH Stabilizer</td>
			<td>Stabilizer</td>
			<td>102-71-6</td>
		</tr>


		<tr class="sep">
			<td colspan="6">&nbsp;</td>
		</tr>


		<tr id="revivex-pro-cleaner" class="row-header">
			<th scope="row" rowspan="4">Revivex Pro Cleaner</th>
			<td rowspan="4"><a target="_blank" href="{{'Revivex_Pro_Cleaner.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>Laureth-9</td>
			<td>Surfactant</td>
			<td>Cleaning agent</td>
			<td>68439-50-9</td>
		</tr>
		<tr>
			<td>Tetrasodium EDTA</td>
			<td>Chelating Agent</td>
			<td>Water softener</td>
			<td>13235-36-4</td>
		</tr>
		<tr>
			<td>Methylisothiazolinone</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>2682-20-4</td>
		</tr>


		<tr class="sep">
			<td colspan="6">&nbsp;</td>
		</tr>


		<tr id="revivex-uv-protectant" class="row-header">
			<th scope="row" rowspan="7">Revivex UV Protectant</th>
			<td rowspan="7"><a target="_blank" href="{{'Revivex_UV_Protectant_EN.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>Dimethicone</td>
			<td>Conditioner</td>
			<td>Adds shine and polish to materials</td>
			<td>63148-62-9</td>
		</tr>
		<tr>
			<td>Trideceth-12</td>
			<td>Surfactant</td>
			<td>Cleaning agent</td>
			<td>24938-91-8</td>
		</tr>
		<tr>
			<td>Laureth-9</td>
			<td>Surfactant</td>
			<td>Cleaning agent</td>
			<td>9002-92-0</td>
		</tr>
		<tr>
			<td>Laureth-9</td>
			<td>Surfactant</td>
			<td>Cleaning agent</td>
			<td>68439-50-9</td>
		</tr>
		<tr>
			<td>Tris (N-Hydroxyethyl) Hexahydrotriazine</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>4719-04-4</td>
		</tr>
		<tr>
			<td>Ethanolamine</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>141-43-5</td>
		</tr>

		<tr class="sep">
			<td colspan="6">&nbsp;</td>
		</tr>


		<tr id="revivex-wetsuit-drysuit-shampoo" class="row-header">
			<th scope="row" rowspan="9">Revivex Wetsuit + Drysuit Shampoo</th>
			<td rowspan="9"><a target="_blank" href="{{'Revivex_Wetsuit_Drysuit_Shampoo_EN.pdf' | file_url}}" class="sds-download"><svg viewBox="0 0 15.09 25.21" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#ff4001"><path d="m7.37.5h-6.87v18.32h14.09v-11.1" stroke-miterlimit="10"/><path d="m7.37 7.72h7.22l-7.22-7.22z" stroke-linejoin="round"/><g stroke-linecap="round" stroke-miterlimit="10"><path d="m9.48 22.42-2.08 2.08-2.08-2.08"/><path d="m7.4 24.15v-10.3"/></g></g></svg><span>Download</span></a></td>
			<td>Water</td>
			<td>Diluent</td>
			<td>Deionized for purity</td>
			<td>7732-18-5</td>
		</tr>
		<tr>
			<td>Sodium Dodecylbenzene Sulfonate</td>
			<td>Surfactant-Anionic</td>
			<td>Cleaning agent</td>
			<td>25155-30-0</td>
		</tr>
		<tr>
			<td>Sodium Laureth Sulfate</td>
			<td>Surfactant-Anionic</td>
			<td>Cleaning agent</td>
			<td>9004-82-4</td>
		</tr>
		<tr>
			<td>Pentasodium Triphosphate</td>
			<td>Builder</td>
			<td>Buffering compound</td>
			<td>7758-29-4</td>
		</tr>
		<tr>
			<td>Fragrance</td>
			<td>Fragancing Compound</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>DMDM Hydantoin</td>
			<td>Preservative</td>
			<td>Prevents spoilage of the formula</td>
			<td>6440-58-0</td>
		</tr>
		<tr>
			<td>Formaldehyde (NFC Ingredient)</td>
			<td>Preservative</td>
			<td>Byproduct of preservative</td>
			<td>50-00-0</td>
		</tr>
		<tr>
			<td>Citral</td>
			<td>Fragrance Component</td>
			<td>Citrus fragrance</td>
			<td>5392-40-5</td>
		</tr>
		<tr>
			<td>Sodium Chloride</td>
			<td>Thickener</td>
			<td>Common salt</td>
			<td>7647-14-5</td>
		</tr>
	</tbody>
</table>
