<section class="press press--{{ block.id }} partner-with-us" {{ block.shopify_attributes }}>
  <div class="press__container">
    {% if block.settings.title != blank %}
      <h2>{{ block.settings.title}}</h2>
    {% endif %}
    {% if block.settings.content != blank %}
      {{ block.settings.content}}
    {% endif %}
    <div class="press-icons">
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_1 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_2 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_3 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_4 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_5 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_6 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_7 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_8 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_9 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_10 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_11 | img_url: '300x' }}" alt="Press Icon">
      </div>
      <div class="press-icon">
        <img src="{{ block.settings.press_icon_12 | img_url: '300x' }}" alt="Press Icon">
      </div>
    </div>
  </div>
</section>
