<div id="collections-listing" {{ block.shopify_attributes }}>
  {% for link in linklists[block.settings.linklist].links %}
  {% assign collection = link.object %}
  <article class="collection-section collection-section--{{ collection.id }}">
    <div class="collection-section__content">
      <h2>{{ link.title }}</h2>
      <p>{{- collection.description | strip_html -}}</p>
      <a href="{{ link.url }}" class="btn btn-alt collButton">Learn More <span class="visually-hidden">{{ collection.title | escape }}</span></a>
    </div>
  </article>
  {% endfor %}
</div>
