<section class="section section--big-img-text-block section--big-img-text-block--{{ section.id }} {% if section.settings.border_top %} big-img-text-block--border-top{% endif %}{% if section.settings.border_bottom %} big-img-text-block--border-bottom{% endif %}{% if section.settings.padding_top %} big-img-text-block--padding-top{% endif %}{% if section.settings.padding_bottom %} big-img-text-block--padding-bottom{% endif %}" {{ section.shopify_attributes }}>
  {% if section.settings.image or section.settings.content_padding_top or section.settings.content_text_color %}
  <style>
    .section--big-img-text-block--{{ section.id }} {
      {% if section.settings.image %} 
      background: url('{{ section.settings.image | img_url: 'master' }}') no-repeat center top;
      background-size: cover;
      {% endif %}
    }

    {% if section.settings.content_padding_top or section.settings.content_text_color %}
    .section--big-img-text-block--{{ section.id }} .big-img-text-block-content {
      {% if section.settings.content_padding_top %}padding-top: {{section.settings.content_padding_top}}vw;{% endif %}
      {% if section.settings.content_text_color %}color: {{section.settings.content_text_color}};{% endif %}
    }
    {% endif %}
  </style>
  {% endif %}
  <div class="site-container">
    <div class="big-img-text-block-container">
      {% if section.settings.block_title != blank %}
        <h2 class="block-title">{{ section.settings.block_title}}</h2>
      {% endif %}
      {% if section.settings.title != blank %}
        <h3 class="block-heading">{{ section.settings.title}}</h3>
      {% endif %}
      {% if section.settings.content != blank %}
        <div class="big-img-text-block-content"><div class="big-img-text-block-content-inner-wrap">{{ section.settings.content}}</div></div>
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Big Image (bg) Text Block",
  "settings": [
    {
      "type":"text",
      "id":"block_title",
      "label":"Block title"
    },
    {
      "type":"text",
      "id":"title",
      "label":"Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"Content"
    },
    {
      "type": "color",
      "id": "content_text_color",
      "label": "Content Text Color"
    },
    {
      "type":"text",
      "id":"content_padding_top",
      "label":"Content Padding Top (in vw units)"
    },
    {
      "type":"checkbox",
      "id":"padding_top",
      "label":"Padding Top?",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"padding_bottom",
      "label":"Padding Bottom?",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"border_top",
      "label":"Border Top?",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"border_bottom",
      "label":"Border Bottom?",
      "default":false
    }
  ],
  "presets": [
    {
      "name": "Big Image (bg) Text Block"
    }
  ]
}
{% endschema %}