{% stylesheet %}
.section--promos {padding:0 0 5%;}
.promo {text-align:center;margin:0 0 1em;}
.promo figure {display:block;width:100%;position:relative;z-index:102;margin:0;}
.promo figure img {display:block;width:100%;height:auto;margin:0;}
{% endstylesheet %}

{% if section.blocks.size > 0 %}
<section class="section section--lights section--promos section--promos-lights">
  <div class="section-content"> 
    <div class="site-container--fluid site-flexbox grid grid--gutters">
      {% if section.settings.title != blank %}
      <div class="center column100">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% endif %}
      {% case section.blocks.size %}
      {% when 1 %}
      {%- assign column_size = 'column100' -%}
      {% when 2 %}
      {%- assign column_size = 'column50' -%}
      {% when 3 %}
      {%- assign column_size = 'column33' -%}
      {% when 5 %}
      {%- assign column_size = 'column33' -%}
      {% when 6 %}
      {%- assign column_size = 'column33' -%}
      {% else %}
      {%- assign column_size = 'column50' -%}
      {% endcase %}
      {% for block in section.blocks %}
      <div class="promo promo--{{ block.id }} {% if section.blocks.size == 5 %}{% if forloop.index == 1 or forloop.index == 2 %}column50{% else %}{{ column_size }}{% endif %}{% else %}{{ column_size }}{% endif %} promo__header--{{ section.settings.heading_style }}" {{ block.shopify_attributes }}>
        <figure>
          <img src="{{ block.settings.image | img_url:'master' }}" alt=""/>
          {% unless block.settings.title == blank %}
          <figcaption class="promo__header"><h2>{{ block.settings.title }}</h2></figcaption>
          {% endunless %}
        </figure>
      </div><!-- promo --> 
      {% endfor %}
    </div><!-- site-container--fluid -->
  </div><!-- section-content -->
</section><!-- section -->
{% endif %}
{% schema %}
{
  "name": "Promos x 3",
  "max_blocks": 3,
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "blocks": [{
    "type": "image",
    "name": "Promo",
    "settings": [{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
      "type": "text",
      "id": "title",
      "label": "Heading"
      }
    ]
  }],
  "presets": [{
    "name": "Promos x 3",
    "category": "Media",
    "blocks": [{
      "type": "image"
      },
      {
      "type": "image"
      },
      {
      "type": "image"
    }]
  }]
}
{% endschema %}