{% layout none %}
<!DOCTYPE html>
<!--[if IE 9]><html class="ie9 password-template"><![endif]-->
<!--[if IE 8]><html class="ie8 password-template"><![endif]-->
<!--[if !IE]><!--><html class="non-ie password-template"><!--<![endif]-->
<head>
  <script src="https://cdn.yottaa.com/rapid.rum.min.js"></script>
  <script>
    Yo.configure('https://qoe-1.yottaa.net/api/v1/configure.rapid.js?key=FnF9UNxqjkaz3w');
  </script>
  
  {% include 'head-meta' %}
  {{ 'password.scss.css' | asset_url | stylesheet_tag }}
</head>
<body id="password-template">
  <div id="password-template__content">
    <div id="password-template__logo">
      <img id="" src="{{ 'logo.png' | file_url }}" alt="{{ shop.name }}" />
    </div>
    <div id="password-template__message">
      {{ shop.password_message }}
      <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form form--inline" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_4e40cb3ed792d844da0569857_5b11b7d408" tabindex="-1" value="">
        </div>
        <input type="submit" value="Go &#8608;" name="subscribe" id="mc-embedded-subscribe">
        <span class="form--helper">We're cool. We will never, ever share your email address.</span>
      </form>
      <ul class="site-footer-social-navigation">
        <li class="site-footer-social-navigation__item"><a href="https://www.facebook.com/GearAid"><i class="fa fa-fw fa-facebook-official"></i></a></li>
        <li class="site-footer-social-navigation__item"><a href="https://twitter.com/GearAid"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li class="site-footer-social-navigation__item"><a href="https://pinterest.com/GearAid"><i class="fa fa-fw fa-pinterest"></i></a></li>
        <li class="site-footer-social-navigation__item"><a href="https://instagram.com/GearAid"><i class="fa fa-fw fa-instagram"></i></a></li>
      </ul><!-- site-footer-social-navigation -->
    </div><!-- password-template__message -->
    <div id="password-template__entry">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <input type='password' name='password' id='password' autofocus />
      <input class="btn" name="commit" type="submit" value="Enter" />
      {% endform %}
    </div>
  </div><!-- password-template__content -->
  <script type="text/javascript">
    (function($){
      $(function(){
        $('#password-template__content').imagesLoaded(function(){
          function introFade(){
            $('body').addClass('assets-loaded');
          }
          setTimeout(introFade, 500);
        });
        if (window.location.href.indexOf("?vip") > -1) {
          $('#password-template__message').hide();
          $('#password-template__entry').addClass('shown');
        }
      });
    })(jQuery)
  </script>
</body>
</html>